@tailwind base;
@tailwind components;
@tailwind utilities;

/* .input {
    background: transparent;
    border: 0;
    color: var(--color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-style: var(--font-style);
    font-variant: var(--font-variant);
    font-weight: var(--font-weight);
    height: var(--height);
    left: var(--left);
    margin-bottom: var(--margin-bottom);
    margin-left: var(--margin-left);
    margin-right: var(--margin-right);
    margin-top: var(--margin-top);
    outline: none;
    padding-bottom: var(--padding-bottom);
    padding-left: var(--padding-left);
    padding-right: var(--padding-right);
    padding-top: var(--padding-top);
    position: var(--position);
    text-align: var(--text-align);
    top: var(--top);
    width: 100%;
    border: 1px solid gray;
    border-radius: 0.375rem;
  }
  
  
  
   */